@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/fontawesome.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/whiteboard-semibold.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/utility-fill-semibold.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/utility-duo-semibold.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/utility-semibold.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/thumbprint-light.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/slab-press-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/slab-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/sharp-duotone-thin.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/sharp-duotone-solid.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/sharp-duotone-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/sharp-duotone-light.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/sharp-thin.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/sharp-solid.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/sharp-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/sharp-light.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/notdog-duo-solid.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/notdog-solid.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/jelly-fill-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/jelly-duo-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/jelly-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/etch-solid.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/duotone-thin.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/duotone.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/duotone-regular.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/duotone-light.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/thin.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/solid.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/regular.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/light.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/brands.css');
@import url('https://site-assets.fontawesome.com/releases/v7.1.0/css/chisel-regular.css');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.rich-text { font-size: 15px;  }

.rich-text p { margin-bottom: 16px; color: #292929; }

.rich-text h1 { font-size: 36px; font-weight: 700; color: #252525 !important; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525 !important; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333 !important; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444 !important; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555 !important; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666 !important; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }

.rich-text a { color: #007AFF }